# C++/SCons
.sconsign.dblite
.scons_cache/
*.obj
*.os
*.o
*.pyc

# generated sources
src/gen/

# compiled binaries
demo/addons/pdfium-gde/linux/*
demo/addons/pdfium-gde/macos/*
demo/addons/pdfium-gde/windows/*

!demo/addons/pdfium-gde/linux/.gitkeep
!demo/addons/pdfium-gde/macos/.gitkeep
!demo/addons/pdfium-gde/windows/.gitkeep